/*body {
	background-color: #fdfaff;
}*/
.container {
	background-color: #f6f0fa;
}

.btn {
	color: black;
	border: 2px solid rgb(146, 148, 248);
 	border-radius: 50px;
	position: relative;
	overflow: hidden;
	padding: 7px;
	transform: scale(1);
	transition: 0.5s ease-in-out;
	font-size: 12px;
}

.btn:hover {
	color: #4B0082;
	transform: scale(1.1);
}

.btn:before {
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(100deg, transparent, rgba(146, 148, 248, 0.4), transparent);
	transition: all 650ms;
}

.btn:hover:before {
  left: 100%;
}
/*Footer*/
.footer {
	background-color: #474a56;
	padding-top: 10px;
	border-radius: 10px;
}
.droit {
	color: white;
	text-align: center;
}
.reseaux {
	float: right;
	height: auto;
    max-width: 15%;
    margin-right: 10px;
}
p {
	text-align: justify;
}
h4 {
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	padding: 10px;
	transition: 0.3s;
	animation-duration: 3s;
	animation-name: titre;
	color: #d3d5fd;
	text-align: left;
	text-shadow: 3px 3px 4px #474a56;
}
h5 {
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	padding: 10px;
	transition: 0.3s;
	animation-duration: 3s;
	animation-name: titre;
	color: #4B0082;
	text-align: left;
	text-shadow: 2px 2px 3px #C0C0C0;
}
@media screen and (min-width: 760px){
	.trait_verti {
		border-left: 2px solid #474a56;
		display: inline-block;
		height: 200px;
		margin: 0 75px;
		margin-top: 17px;
		width: 50%;
	}
	#trait {
		border-top : 2px solid #474a56;
		width : 60px;
		border-radius: 30px;
	}
	#trait2{
		border-top : 2px solid #474a56;
		width : 60px;
		margin-left: 90px;
		border-radius: 30px;
	}
	.reseaux {
		float: right;
		height: auto;
	    max-width: 10%;
	    margin-right: 10px;
	}
}
@media screen and (min-width: 992px){
	.reseaux {
		float: right;
		height: auto;
	    max-width: 7%;
	    margin-right: 10px;
	}
}